/* 背景色と格子模様を設定 */
html {
  width: 100%;
  height: 100%;

  background-color: #DEDEE5;
  background-image: repeating-linear-gradient(to bottom, #F7F7F7, #F7F7F7, 1px, transparent 0, transparent 32px),
                    repeating-linear-gradient(to right,#F7F7F7, #F7F7F7, 1px, transparent 0, transparent 32px);
  font-family: 'Hyperspace Race Capsule';
  color: #232423;
}


header {
  height: 80px;
  width: 100%;

  background-image: linear-gradient(150deg, rgba(74, 10, 249, 1), rgba(76, 178, 210, 1) 50%, rgba(145, 255, 201, 1));
}

#header_title {
  line-height: 80px;

  font-size: 50px;
}


form {
  margin: auto;
  margin-top: 40px;
  position: relative;
  text-align: center;

  width: 400px;
  height: 400px;

  background-color: rgba(255, 255, 255, 0.8);
}

#form-title{
  padding-top: 20px;
  font-family: 'Hyperspace Race Capsule';
  font-size: 48px;
}


.input_box {
  width: 280px;
  margin: auto;
  margin-top: 30px;
  text-align: left;
}

.input_label {
  font-size: 20px;
}

input[type=text] {
  width: 280px;
  height: 26px;
  border: 1px solid;
  border-radius:5px;
  font-size: 18px;
  background-color: #FFFFFF;
  caret-color: #ff0000;
}

input[type=text]:focus {
  outline: none;
  border: 2px solid #4BE6C1;
}

#submit_button {
  position: absolute;
  bottom: 60px;
  left: 50%;
  transform: translateX(-50%);

  width: 180px;
  height: 50px;
  border-radius: 25px;

  font-size: 32px;
  color: #F7F7F7;
  background-image: linear-gradient(150deg, rgba(145, 255, 201, 1), rgba(77, 179, 210, 1) 58%, rgba(74, 10, 249, 1));
  transition: all .2s;
}

#submit_button:hover {
  bottom: 63px;
  box-shadow: 0 2px 3px rgba(11, 99, 87, 0.85);
}

.small_rink{
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);

  font-size: 16px;
  color: #3766FF;
}

