{% extends "admin/layout.html" %}

{% block title %}
  {# ページタイトル #}
  管理者メニュー
{% endblock %}

{% block css %}
  {# 独自のcssを埋め込む #}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/admin_menu.css') }}">
{% endblock %}

{% block main_contents %}
  {# ページのコンテンツを埋め込む #}
  <div class="main_contents">
    <div id="menu-title">Menu</div>
    <div id="menu">
      <div class="left_contents">
        <div class="menu_list"><a
            href="{{ url_for('admin.admin_employee_list') }}">Employee</a></div>
        <div class="menu_list"><a href="#">Apply</a></div>
        <div class="menu_list"><a href="{{ url_for('admin.register_employee_form') }}">Register</a></div>
      </div>
      <div class="right_contents">
        <div class="menu_list"><a href="#">Reports</a></div>
        <div class="menu_list"><a href="#">Payroll</a></div>
      </div>
    </div>
  </div>

  {% endblock %}