<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="{{url_for('static', filename='css/normalize.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/admin_style.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/register_employee.css')}}">
</head>

<body>
<header>
  <h1 id="header_title">work_with_tech</h1>
</header>

<div class="contents">
  <div class="main_contents">
    <form action="{{ url_for('admin.register_employee_confirm') }}" method="post">

      <h2 id="form-title">Register_Employee</h2>

      <div class="input_box">
        <span class="input_label">name</span><br>
        <input type="text" name="name"><br>
      </div>

      <div class="input_box">
        <span class="input_label">mail</span><br>
        <input type="text" name="mail"><br>
      </div>

      <div class="select_box">
        <span class="input_label">department</span><br>
        <select name="department">
          {%  for de in departments %}
          <option value="{{ de[0] }}">{{ de[1] }}</option>
          {% endfor %}
        </select>
      </div>

      <div class="select_box">
        <span class="input_label">role</span><br>
        <select name="role">
          {%  for ro in roles %}
          <option value="{{ ro[0] }}">{{ ro[1] }}</option>
          {% endfor %}
        </select>
      </div>

      <button id="submit_button" type="submit">Confirm</button>
      <a href="#" class="small_rink">Back</a>
    </form>
  </div>

  <aside>
    <ul>
      <li class="nav_list"><a>Menu</a></li>
      <li class="nav_list"><a>Employee</a></li>
      <li class="nav_list"><a>Apply</a></li>
      <li class="nav_list"><a>Reports</a></li>
      <li class="nav_list"><a>Payroll</a></li>
    </ul>
  </aside>

</div>

</body>
</html>