<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="{{url_for('static', filename='css/normalize.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='css/employee_apply.css')}}">
</head>
<body>
<header>
  <h1 id="header_title">work_with_tech</h1>
</header>
<div class="contents">
  <div class="main_contents">
    <div id="overtime_application_form">
      <div id="title">残業申請書</div>
      <button id="complete">complete</button>
      <div class="profile">
        <div id="name">氏名 : 山田太郎</div>
        <div id="department">部署 : システム部</div>
        <div id="position_name">役職名 : 一般</div>
      </div>
      <div class="overtime">
        <div class="time">
          <br>
          残業時間 :  2:00<br>
        </div>
        <div class="work">
          <div class="label">業務内容</div>
          <div class="work_contents"><textarea name="w_contents"></textarea></div>
        </div>
      </div>
      <div class="reason">
        <div class="reason_title">申請理由</div>
        <div id="overtime_reason"><textarea name="o_reason"></textarea></div>

      </div>
      <table id="apply">
        <tr>
          <th>承認</th>
          <th>非承認</th>
          <th>非承認の理由</th>
          <th>所属長</th>
          <th>管理者</th>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td id="re"></td>
          <td></td>
          <td></td>
        </tr>
      </table>
    </div>
  </div>
  <aside>
    <ul>
      <li class="nav_list"><a>Menu</a></li>
      <li class="nav_list"><a>Employee</a></li>
      <li class="nav_list"><a>Apply</a></li>
      <li class="nav_list"><a>Reports</a></li>
      <li class="nav_list"><a>Payroll</a></li>
    </ul>
  </aside>
</div>

<script src="./js/checkbox.js"></script>
</body>
</html>