<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/normalize.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/employee_login.css')}}">
</head>
<body>
<header>
  <h1 id="header_title">work_with_tech</h1>
</header>
  <div class="contents">
    <form action="{{ url_for('employee.insert_login_info_exe') }}" method="post">
      <h2 id="form-title">Edit_Password</h2>
      <div class="input_box">
        <span class="input_label">NEW_PASSWORD</span><br>
        <input type="text" name="password1"><br>
      </div>
      <div class="input_box">
        <span class="input_label">PASSWORD_Confirmation</span><br>
        <input type="text" name="password2"><br>
      </div>
      <button id="submit_button" type="submit">Update</button>
      <a href="{{ url_for('top_menu')}}" class="small_rink">Back</a>
    </form>
  </div>
</body>
</html>