<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/normalize.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/employee_login.css')}}">
</head>
<body>
<header>
  <h1 id="header_title">work_with_tech</h1>
</header>
  <div class="contents">
    <form action="{{ url_for('employee.login_exe') }}" method="post">
      <h2 id="form-title">Login</h2>
      <div class="input_box">
        <span class="input_label">Employee_ID</span><br>
        <input type="text" name="employee_id"><br>
      </div>
      <div class="input_box">
        <span class="input_label">PASSWORD</span><br>
      <input type="text" name="password"><br>
      </div>
      <button id="submit_button" type="submit">Login</button>
    </form>
  </div>
</body>
</html>