<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/normalize.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/menu.css')}}">
</head>
<body>
<header>
    <h1 id="header_title">work_with_tech</h1>
</header>
<div class="contents">
    <div class="main_contents">
        <div id="menu-title">Menu</div>
        <div id="menu">
            <div class="left_contents">
                <div class="menu_list"><a href="{{ url_for('employee.overtime_apply')}}">Overtime</a></div>
                <div class="menu_list"><a href="{{ url_for('employee.schedule')}} ">Schedule</a></div>
                <div class="menu_list"><a href="#">Reports</a></div>
            </div>
            <div class="right_contents">
                <div class="menu_list"><a href="#">Holiday_work</a></div>
                <div class="menu_list"><a href="#">paid_holiday</a></div>
                <div class="menu_list"><a href="#">Payroll</a></div>
            </div>
        </div>
    </div>
    <aside>
        <ul>
            <li class="nav_list"><a href="#">Menu</a></li>
            <li class="nav_list"><a href="#">Overtime</a></li>
            <li class="nav_list"><a href="#">Holiday_work</a></li>
            <li class="nav_list"><a href="#">Schedule</a></li>
            <li class="nav_list"><a href="#">paid_holiday</a></li>
            <li class="nav_list"><a href="#">Reports</a></li>
            <li class="nav_list"><a href="#">Payroll</a></li>
        </ul>
    </aside>
</div>
</body>
</html>