<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="{{url_for('static', filename='css/normalize.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='css/schedule.css')}}">
</head>
<body>
<header>
  <h1 id="header_title">work_with_tech</h1>
</header>
<div class="contents">
  <div class="main_contents">
    <div id="classify">
      <div id="departments">
        <div class="classify_title">belong_to</div>
        <ul class="cl_list">
          {% for de in departments %}
          <li class="department"><a href="{{ url_for('admin.admin_employee_list', department_id=de[0]) }}">{{ de[1] }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div id="employees">
      <div id="title">スケジュール</div>
      <a href="{{ url_for('employee.employee_menu') }}"><button id="back_to_home">Back</button></a>

      <table>
        <tr>
          <th>曜日</th>
          <th>日付</th>
          <th>出勤</th>
          <th>退勤</th>
          <th>休憩時間</th>
        </tr>
        {% for day in days %}
        <tr>
          {% for d in day %}
            <td>{{ d }}</td>
          {% endfor %}
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
  <aside>
    <ul>
      <li class="nav_list"><a>Menu</a></li>
      <li class="nav_list"><a>Employee</a></li>
      <li class="nav_list"><a>Apply</a></li>
      <li class="nav_list"><a>Reports</a></li>
      <li class="nav_list"><a>Payroll</a></li>
    </ul>
  </aside>
</div>

</body>
</html>