<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet"
        href="{{ url_for('static', filename='css/normalize.css') }}">
  <link rel="stylesheet"
        href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="stylesheet"
        href="{{ url_for('static', filename='css/top_menu.css') }}">
</head>
<body>
<header>
  <h1 id="header_title">work_with_tech</h1>
  <a href="{{ url_for('admin.admin_login_form') }}">admin</a>
</header>
<div class="contents">
  <div class="upper_contents">
    <div id="clock"><span id="now_hour"></span><span
        id="clock_blink">:</span><span id="now_min"></span></div>
      <a href="{{ url_for('employee.employee_login_form') }}">
        <button id="apply_button">Login</button>
      </a>
  </div>
  <div class="lower_contents">
    <div class="lower_left_contents">
      <a href="{{ url_for('employee.punch_a_beginning_time') }}">
        <button id="begin_button">Begin</button>
      </a>
      <button id="bgn_rest_button">Bgn_rest</button>
    </div>
    <div class="lower_right_contents">
      <a href="{{ url_for('employee.punch_a_finish_time') }}">
      <button id="finish_button">Finish</button>
      </a>
      <button id="fin_rest_button">Fin_rest</button>
    </div>
  </div>
</div>
<script src="{{ url_for('static', filename='js/top_menu.js') }}"></script>
</body>
</html>